.section {
  max-width: 920px;
  width: 100%;
  min-height: 509px;
  border-radius: 23px;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.responsive_image {
  width: 237px;
  height: 180px;
  opacity: 1;
  display: none;
}

.responsive_image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 605px) {
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 60px 20px;
    min-height: 535px;
    position: relative;
    margin-top: 60px;
  }

  .responsive_image {
    display: block;
    width: 237px;
    height: 180px;
    margin-top: -170px;
    margin-bottom: 20px;
  }

  .responsive_image img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .quotes_title {
    padding-left: 39%;
  }

  .text_responsive > div {
    margin-left: 5px;
    margin-right: 25px;
  }
}
