@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  overflow: hidden;
}

@media (max-width: 605px) {
  .image_container {
    display: none;
  }
}
